appdirs==1.4.3
beckett==0.4.0
click==6.7
Flask==0.12.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pkg-resources==0.0.0
pykemon==0.2.0
pyparsing==2.2.0
requests==2.13.0
requests-cache==0.4.13
simplejson==3.3.1
six==1.10.0
SQLAlchemy==1.1.9
ujson==1.35
Werkzeug==0.12.1
