<!DOCTYPE>
<html>

<head>
    <title>PokeBattle API</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



    <script type=text/javascript>
        $(document).ready(function() {
                    // send ajax
                    $.ajax({
                        url: '/poke', // url where to submit the request
                        type: "GET", // type of action POST || GET
                        dataType: 'json', // data type
                        success: function(data) {
                            console.log('working')
                            populate_page(data);
                            // you can see the result from the console
                            // tab of the developer tools

                        },
                        error: function(xhr, resp, text) {
                            console.log(xhr, resp, text);
                        }
                    });

                  function populate_page(data) {

                    var wrp = $('.wrapper').append(
                      $('<p>' + data.name + ' has appeared!  </p>')

                      

                  };

        });
    </script>
</head>
<body>

  <div class='wrapper'>
    <div class='hp' id='opponent_hp'></div>

    <div class='hp' id='self_hp'></div>

    <table id='moves'>

    </table>


  </div>
</body>

</html>
